---
layout: default
---

<div class="home">
  <div class="posts">
    {% for issue in site.data.issues %}
        <div class="issue-card">
            <a href="/issue/{{issue.number}}/" class="issue-link">
                <div class="issue-card-info">
                    <h4 class="issue-num">Number {{ issue.number }}</h4>
                    <h2 class="h2 issue-title{% if issue.longer_title %} longer{% endif %}">{{ issue.title }}</h4>
                    <h3 class="subtitle">{{ issue.subtitle }}</h3>
                </div>
                <img class="issue-card-img" src="/images/{{issue.number}}-cover.png">
            </a>
        </div>
    {% endfor %}
  </div>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
