<script>
    FD = {};
    FD.fitBleeds = function(){
        $("img.full-bleed").each(function(){
            var document_width = $(document).width(),
                image_width = $(this).width(),
                image_height = $(this).height(),
                measure_width = $(".measure").width(),
                margin = (document_width - measure_width)/2;
            if(margin<0){margin = 0}
            $(this).css({width: document_width, "margin-left": "-" + margin + "px"});
        })
    }
    $(function(){
        FD.fitBleeds() 
        $(window).on("resize",_.throttle(FD.fitBleeds,50))
    })
</script>
